{{#if template}}
	{{yield}}
{{else}}
	<div class="row">
		<div class="col-xs-4 col-md-2">
			{{sniffy-user user=host size="lg"}}
			<div>
				{{#if sniffy}}
					{{#link-to "sniffies.sniffy" sniffy}}
						{{sniffy-icon type="edit"}}
					{{/link-to}}
				{{/if}}
				{{sniffy-icon type="reorder" ariaRole="button" action="toggleComments"}}
			</div>
		</div>
		<div class="col-xs-8 col-md-10">
			{{whatAndWhere}}<br>
			{{format-date-time when}}
			<ul class="list-inline">
				{{#each invitation in invitations}}
					<li>
						{{sniffy-invitation invitation=invitation}}
					</li>
				{{/each}}
			</ul>
		</div>
		{{#if displayComments}}
			{{#each comment in comments}}
				{{sniffy-comment comment=comment}}
			{{/each}}
			{{input value=comment placeholder="Enter a comment..." enter="addComment"}}
		{{/if}}
	</div>
{{/if}}