{{#if template}}
	{{yield}}
{{else}}
	<div class="row">
		<div class="col-xs-4 col-md-2">
			{{sniffy-user user=host size="lg"}}
			<div>
				{{#if sniffy}}
					{{#link-to "sniffies.sniffy" sniffy}}
						{{sniffy-icon type="edit"}}
					{{/link-to}}
				{{/if}}
				{{sniffy-icon type="chat" ariaRole="button" action="toggleComments"}}
			</div>
		</div>
		<div class="col-xs-8 col-md-10">
			<p>{{whatAndWhere}}</p>
			{{date-time value=when type="calendar"}}
			<ul class="list-inline">
				{{#each invitation in invitations}}
					<li>
						{{sniffy-invitation 
							invitation=invitation 
							accept="acceptInvitation" 
							decline="declineInvitation"
						}}
					</li>
				{{/each}}
			</ul>
		</div>
		<div {{bind-attr class=":collapse displayComments:in"}}>
			{{#each comment in comments}}
				{{sniffy-comment comment=comment}}
			{{/each}}
			{{input value=newComment placeholder="Enter a comment..." enter="addComment"}}
		</div>
	</div>
{{/if}}