<form {{action create on="submit"}} role="form">
	<ul class="list-group">

		<li class="list-group-item">
			<div class="input-group">
				{{input value=what placeholder="What?"}}
				<span class="input-group-btn">
					{{#link-to "new.what" classNames="btn"}}
						<span class="glyphicon glyphicon-list"></span>
					{{/link-to}}
				</span>
			</div>
		</li>
		
		<li class="list-group-item">
			<div class="input-group">
				{{input value=where placeholder="Where?"}}
				<span class="input-group-btn">
					{{#link-to "new.where" classNames="btn"}}
						<span class="glyphicon glyphicon-list"></span>
					{{/link-to}}
				</span>
			</div>
		</li>
		
		<li class="list-group-item">
			{{input value=when type="date" placeholder="When?"}}
		</li>

		{{#link-to "new.who" classNames="list-group-item"}}
			{{#each invitees}}
				<span>
					{{name}} ({{handle}})
				</span>
			{{else}}
				<span class="text-muted">Who?</span>
			{{/each}}

		{{/link-to}}


	</ul>
</form>
