<div class="left">
	{{#if parent}}
		{{#link-to parent}}< {{controller-title parent}}{{/link-to}}
	{{/if}}
</div>
<div class="center">
	<h1>{{title}}</h1>
	<ul {{bind-attr class=":dots displayDots::invisible"}}>
		<li>
			{{#link-to "sniffies.index"}}
				<span class="dot"></span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to "sniffies.previous"}}
				<span class="dot"></span>
			{{/link-to}}
		</li>
		<li>
			{{#link-to "settings"}}
				<span class="dot"></span>
			{{/link-to}}
		</li>	
	</ul>
</div>
<div class="right">
	{{#if action}}
		<button class="btn-link" {{action action.name}} {{bind-attr disabled=action.isDisabled}}>
			{{action.text}}
		</button>
	{{/if}}
</div>