<ul>
	<li>{{#link-to "what"}}What::{{what}}{{/link-to}}</li>
	<li>{{#link-to "where"}}Where::{{where}}{{/link-to}}</li>
	<li>{{input type="date" value=when placeholder="When?"}}::{{format-date when}}</li>
	<li>{{#link-to "who"}}Who::{{who}}{{/link-to}}</li>
</ul>
<button {{action create}}>Sniffy!</button>